<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <script src="https://cdn.tailwindcss.com"></script>
{#    <link href="../static/css/output.css">#}
</head>
<body class="">
    <div class="px-2 py-1 w-full fixed z-50 bg-gradient-to-r from-black via-sky-700 via-sky-500 shadow-lg" style="-webkit-backdrop-filter: saturate(150%) blur(4px); backdrop-filter: saturate(150%) blur(4px)">
        <a href="/index/">
            <span class="text-lg px-2 text-white">Fanglin's Wiki</span>
        </a>
    </div>
    <div class="container mx-auto md:px-8 lg:px-8 xl:px-8 2xl:px-8 shadow-lg border pb-8 pt-10 max-w-screen-md text-justify divide-y-2 divide-white">
        <div>
            <h1 id="fanglin-wiki" class="text-2xl mt-2 font-sans">Lin's Space</h1>
            <h2 id="_1" class="  text-xl mt-2 pb-2 font-sans">自我介绍</h2>
            <p class=" font-serif my-1 indent-8">
                xfl 是
                <a href="http://www.hnu.edu.cn" class=" text-amber-900">HNU</a>
                的一名准研究生，师从
                <a href="https://grzy.hnu.edu.cn/site/index/chenguo" class=" text-amber-900">陈果教授</a>
                （欢迎各位未来的<font color="red">科研大佬们</font>与我导师联系！）。我们实验室大体研究方向与高性能网络相关，也包括数据中心网络以及超算网络等等。xfl 正在努力：
                    <ul class=" list-disc font-serif">
                        <li class=" ml-8">算法出众（新时代“网瘾”少年）</li>
                        <li class=" ml-8">具有工业开发能力（实时与新时代技术结合）</li>
                        <li class=" ml-8">成为科研卷王（研究生必备生存指南）</li>
                    </ul>
            </p>
            <h2 class=" text-xl mt-2 pb-2 font-sans">近期目标</h2>
            <ul class=" list-disc font-serif">
                <li class=" ml-8">入门了解实验室项目（因为果哥快考核我了），目前对学长的数据中心的流调度问题很感兴趣。</li>
                <li class=" ml-8">
                    <a href="https://leetcode.cn/u/linautumn/" class=" text-amber-900">力扣</a>
                    竞赛积分突破2000（目前1724）
                    <img src="../static/img/leetcode.png">
                </li>
                <li class=" ml-8">使用Django以及一些前端开发工具完善个人网站（说实话因为拖延Django学了快两年都没有进展😭）。</li>
                <li class=" ml-8">增强C++、Java等语言面向对象的知识（被淘宝面试官说<font color="red">缺失</font>这方面的知识）</li>
            </ul>
            <span class="font-serif my-1">（排名不分先后）</span>
            <h2 class="text-xl mt-2 pb-2 font-sans">保持健康</h2>
            <p class=" font-serif my-1 indent-8">
                <a href="https://musclewiki.com/" class=" text-amber-900">坚持运动！</a>
            </p>
        </div>
    </div>
</body>
</html>